.header {
    display: flex;
    margin: 0 20px;
}

.title {
    align-self: center;
    width: 700px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5%;
}

.search-container {
    display: flex;
    width: 50%;
    align-items: flex-start;
}

.search-bar {
    margin-top: 30px;
    margin-left: 10px;
}

.view-selector-container {
    align-self: flex-start;
}






.card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    margin: 1%;
}

.card-img {
    width: 200px;
    height: 275px;
}

.card-info {
    display: flex;
    align-items: center;
    border: 1px solid red;
    flex-flow: column wrap;
}
