.header-container {
    width: 100%;
    height: auto;
    position: fixed;
    opacity: 100%;
    background-color: whitesmoke;
}

.header {
    display: flex;
    margin: 0 20px;
}

.title {
    align-self: center;
    width: 700px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5%;
}

.search-container {
    display: flex;
    width: 50%;
    align-items: flex-start;
}

.search-bar {
    margin-top: 30px;
    margin-left: 10px;
}

.view-selector-container {
    align-self: flex-start;
}



.card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 100px;
}

.card {
    margin: 1%;
    border: 2px solid black;
}

.card-img {
    width: 200px;
    height: 275px;
}

p {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
}
